@use '../../styles/colors';
@use '../../styles/spacing';

.about {
  display: flex;
  justify-content: center;
  background: linear-gradient(0deg, #626874, #494a4896),
    url('https://cdn.pixabay.com/photo/2016/03/15/21/34/gym-1259300_1280.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.text {
  padding: spacing.$spacing-100;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;

  & h1 {
    padding-bottom: spacing.$spacing-30;
    font-size: 2rem;
    font-weight: bold;
    color: colors.$black;
  }

  & p {
    color: colors.$black;
    line-height: 3;
    font-size: 17px;
    font-weight: 500;
  }
}
